body{
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}

section{
    border: 1px white solid;
}

.ImageContainer{
    height: 35px;
    width: 35px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: white;
}